body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
}
h1{
    font-size: 45px;
}
span{
    color: purple;
}
p{
    font-size: 18px;
    padding-top: -13px;
}

.flexible{ 
    display: flex;
    padding: 4%;
    /* background-color: plum; */
}
.div-half{
    /* background-color:rosybrown; */
    width: 50%;
    margin: 4%;
    padding: 0 2%;
}
.intro-pic{
    /* padding-top: 7%; */
    padding-right:20%;
    width: 100%;
   
}
a{
    text-decoration: none;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 25px;
    background-image: linear-gradient(plum,purple);
    font-weight: 500;
    color: white;
}
.introducton-background{
     /* background-position:top-center; */
     /* background-image: url(images/top-banner.png); */
     background-repeat: no-repeat;
     /* background-position: center; */
}



/* ----------------------------- About me ------------- */
.div-half-about{
    width: 50%;
    margin-bottom: 8%;

    /* padding-top: 50px; */
    /* background-color: darkgoldenrod; */
    /* margin-top: 0; */
    
    /* margin: 0; */
    /* padding: 0 0; */
}
.about-pic{
   
   width: 60%;
   padding-left: 15%;
   /* padding-bottom: 5%; */
   /* height: 80%; */
   /* background-color: chartreuse; */
   /* padding-top: -70px; */
   
}
.about-background{
    /* background-position:top-center; */
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* -----------------------   My recipies ---------------  */
h2{
    font-size: 35px;
}
.my-recipies-div{
    text-align: center;
    padding:0 10%;
}
.card-container{
    /* background-color: lightblue; */
    display: flex;
}
.box{
    height: 510px;
    width: 410px;
    /* background-color: lightcoral; */
    margin: 40px 60px;
    box-shadow: 20px 20px 60px gray;
    border-radius: 13px;

}
.recipe-image{
    margin: 20px 20px;
    width:90% ;
    height: 50%;
    /* background-color: limegreen; */
}
#tea-1{
    width: 100%;
}
#tea-2{
    width: 100%;
}
#tea-3{
    width: 100%;
}
.recipe-title{
    margin: 0px 20px;

}
/* ----------------------------------  */
.likes-comments{
    margin: 0 4%;
    width: 91%;
    /* background-color: lightskyblue; */
    display: flex;
    height: 200px;
    box-shadow: 20px 20px 60px gray;
    border-radius: 13px;
}
.followers{
    text-align: center;
    /* padding: 3%; */
    /* background-color: lime; */
    /* margin-top: 40px; */
    margin-left: 100px;
    margin-right: 100px;
     width: 80%;
    font-weight: 600;
}
/* ------------------------------------------ popular teas -----------------  */
#popular-tea{
    text-align: center;
}
.tea-container{
    display: flex;
    width: 100%;
}
.tea-menu{
    margin: 0 10%;
    color: purple;
}



/* -------------------------------------------- footer ---------------------  */
footer{
    padding-top: 1%;     
    color: white;
    text-align: center;
    background-color: black; 
    padding-bottom: 1%;     
}
small{
    color: green;
}
.copyright{
    color: white;
}

